# Control Structure

## Taking user input

In [5]:
# Input function take input by default string
score = input("Enter the current score: ")

Enter the current score: 10

In [6]:
score = int(input("enter the current score: "))

enter the current score: 10

In [7]:
score

10

In [8]:
print(type(score))

<class 'int'>

In [9]:
x = 20

In [10]:
x

20

# Conditional Statement
- if
- if-else
- elif

In [13]:
number = int(input("Enter any number: "))
print(number)

Enter any number: -12
-12

In [12]:
if(number > 0):
    print("User has entered positive number: ", number)

User has entered positive number:  12

In [14]:
if(number > 0):
    print("User has entered positive number: ", number)
else :
    print("User has entered negative number: ", number)

User has entered negative number:  -12

In [15]:
if number > 0 :
    print("User has entered positive number: ", number)
elif number == 0:
    print("Its a zero", 0)
else :
    print("User has entered negative number: ", number)

User has entered negative number:  -12

## while

In [17]:
index = 1
while index <= 10:
    print(index)
    index += 1

1
2
3
4
5
6
7
8
9
10

In [18]:
r = list(range(1, 10, 2))

In [20]:
for i in r:
    print(i)

1
3
5
7
9

In [21]:
company_names = ["Amazon", "Flipkart", "Snapdeal"]
print(company_names)

['Amazon', 'Flipkart', 'Snapdeal']

In [25]:
# Convert all the company names into websites

website = []

for i in company_names:
    website.append("www."+i+".com")

In [26]:
print(website)

['www.Amazon.com', 'www.Flipkart.com', 'www.Snapdeal.com']

In [27]:
vk = {"name":"Virat", "Age":35, "Team":"RBC"}

In [28]:
for i in vk:
    print(i)

name
Age
Team

In [29]:
for i in vk.items():
    print(i)

('name', 'Virat')
('Age', 35)
('Team', 'RBC')

In [30]:
for i, j in vk.items():
    print(i, j)

name Virat
Age 35
Team RBC

In [32]:
# enumerate function => add index name
for i, j in enumerate(website):
    print(i, j)

0 www.Amazon.com
1 www.Flipkart.com
2 www.Snapdeal.com

# Break

In [34]:
for i in range(1, 11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

# Continue

In [39]:
for i in range(1, 11):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

# Pass

In [42]:
for i in range(1, 11):
    pass

## Exercise 1
- take an input from the user and print the reverese of the number
- input = 123
- output = 321

In [45]:
num = input("Enter a number: ")
print("Reverse: ", num[::-1])

Enter a number: 123
Reverse:  321

- Write a progrsm to get the sum of all the elements in the list
- num = {1, 2, 3}
- output = 6

In [47]:
num = [1, 2, 3]
sum = 0
for i in num:
    sum += i
print(sum)

6

In [49]:
num = [1, 2, 3]

TypeError: 'int' object is not callable