## Args and Kwargs
- args

In [5]:
def sumofnumbers(x, y):
    return x + y

In [3]:
sumofnumbers(2, 3)

5

In [7]:
# "*args" is help to pass no. of parameter at a time
def sumofnumsusingargs(*args):
    print("Args", args)
    print("Type of Args: ", type(args))

In [8]:
sumofnumsusingargs(2, 3, 4)

Args (2, 3, 4)
Type of Args:  <class 'tuple'>

In [10]:
def sumofnumsusingargs(*args):
    print("Args", args)
    print("Type of Args: ", type(args))
    return(sum(args))

In [11]:
sumofnumsusingargs(2, 3, 4, 5)

Args (2, 3, 4, 5)
Type of Args:  <class 'tuple'>

14

In [12]:
def sumofnumsusingargs(*args):
    print("Args", args)
    print("Type of Args: ", type(args))
    return(sum(args))
    result = 0
    for i in args:
        result = result + i
    print("result = ", result)

In [13]:
sumofnumsusingargs(2, 3, 4, 5, 6)

Args (2, 3, 4, 5, 6)
Type of Args:  <class 'tuple'>

20

In [17]:
# After passing no. of argument by using *args, this arguments become tuple
# if we directly pass tuple, then we havr 2 type to pass tuple which is created by user

t = (1, 2, 3, 4, 5)

sumofnumsusingargs(t[0], t[1], t[2])

Args (1, 2, 3)
Type of Args:  <class 'tuple'>

6

In [18]:
sumofnumsusingargs(*t)

Args (1, 2, 3, 4, 5)
Type of Args:  <class 'tuple'>

15

In [24]:
def s(*args):
    for i in args:
        print(i, end="")
s("avantika", 6141, "@gmail.com")

avantika6141@gmail.com

In [35]:
def meanofnum(*args):
    result = 0
    for i in args:
        result = result + i
    print(result/length())

In [ ]:
# Create a program for

In [31]:
userInput = input("Enter commna separted numbers: ")

Enter commna separted numbers: 12, 34, 45, 67, 78

In [32]:
print(userInput, type(userInput))

12, 34, 45, 67, 78 <class 'str'>

In [34]:
lst_num = userInput.split(",")

In [36]:
lst_num

['12', ' 34', ' 45', ' 67', ' 78']

In [38]:
new_list = []
for i in lst_num:
    new_list.append(int(i))

In [39]:
int(lst_num)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [40]:
new_list

[12, 34, 45, 67, 78]

In [42]:
sumofnumsusingargs(*new_list)

Args (12, 34, 45, 67, 78)
Type of Args:  <class 'tuple'>

236

In [43]:
# when we use **Kwargs, arguments combined as a dictionary(in key-value pairs)
def playerdetails(**kwargs):
    for k, v in kwargs.items():
        print("k -> {}, v-> {}".format(k, v))

In [45]:
playerdetails(name="Virat", age="33", Team="RCB")

k -> name, v-> Virat
k -> age, v-> 33
k -> Team, v-> RCB

In [46]:
def playerdetails(**kwargs):
    for k in kwargs.items():
        print("{}".format(k))

In [47]:
playerdetails(name="Virat", age="33", Team="RCB")

('name', 'Virat')
('age', '33')
('Team', 'RCB')

In [50]:
k = {"name":"Avantika", "Age": 19, "salary": 100000}

In [51]:
playerdetails(**k)

('name', 'Avantika')
('Age', 19)
('salary', 100000)

# Comprehensions
- List Comprehension

In [54]:
r = range(1, 11)
result = []
for i in r:
    result.append(i*i)
print("r= ",list(r))
print("result =", result)

r=  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
result_list = {item*item for item in range(1, 11)}
print(result_list)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [63]:
# Print all numbers from 1 to 21 which are divisible by 2
div = []
for item in range(1, 22):
    if item%2==0:
        div.append(item)
print(div)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [64]:
even = {i for i in range(1, 22) if(i%2==0)}
even

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [68]:
# write a program to list of all characters from a subject which are consonants
# input = "MATHEMATICS"
# OUTPUT =["M"]

con = {i for i in "MATHEMATICS" if(i!="A" and i!="E" and i!="I" and i!="O" and i!="U")}
con

{'C', 'H', 'M', 'S', 'T'}

In [67]:
con =[]
for i in "MATHEMATICS":
    if(i!="A" and i!="E" and i!="I" and i!="O" and i!="U"):
        con.append(i)
print(con)

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [69]:
result = [i for i in "MATHEMATICS" if i not in "AEIOU"]
print(result)

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [70]:
# Websites = ["amazon", "flipkart", "snapdeal"]
# Output = ["www.amazon.com", "www.flipkart.com", "www.snapdeal.com"]

websites = ["amazon", "flipkart", "snapdeal"]
result = ["www."+i+".com" for i in websites ]
print(result)

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com']

In [5]:
s = "Welcome to the world of python programming"
# Out = {}

In [7]:
result = []
for i in s.split():
    result.append((i, len(i)))

In [8]:
result

[('Welcome', 7),
 ('to', 2),
 ('the', 3),
 ('world', 5),
 ('of', 2),
 ('python', 6),
 ('programming', 11)]

In [9]:
result = [(i, len(i)) for i in s.split()]
result

[('Welcome', 7),
 ('to', 2),
 ('the', 3),
 ('world', 5),
 ('of', 2),
 ('python', 6),
 ('programming', 11)]

In [11]:
# write a program which will find all such numbers which are divisible by 7 
# but are not multiples of 5 between 200 to 320 (both ncluded)
# the number obtain should be printed in comma separated sequqecnce on a single line

result = []
for i in range(200, 320):
    if(i%7==0 and i%5!=0):
        result.append(i)
result

[203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308]

In [12]:
result = [i for i in range(200,320) if(i%7==0 and i%5!=0)]
result

[203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308]

In [13]:
result = [str(i) for i in range(200,320) if(i%7==0 and i%5!=0)]
print(", ".join(result))

203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308

- Dictionary COmprehensions

In [ ]:
# from range of numbers output the squares in dict as given below
# {1:1, 2:4, 3:9, 4:16, 5:25}

In [14]:
result ={}
for item in range(1, 6):
    result[item] = item * item
print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [15]:
result = {i:i*i for i in range(1, 6) }

In [16]:
result

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [20]:
s = "the quick brown fox jumps over the lazy dog"
result= {i:s.count(i) for i in s}
result

{'t': 2,
 'h': 2,
 'e': 3,
 ' ': 8,
 'q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'b': 1,
 'r': 2,
 'o': 4,
 'w': 1,
 'n': 1,
 'f': 1,
 'x': 1,
 'j': 1,
 'm': 1,
 'p': 1,
 's': 1,
 'v': 1,
 'l': 1,
 'a': 1,
 'z': 1,
 'y': 1,
 'd': 1,
 'g': 1}