<a href="https://colab.research.google.com/github/AvantikaPatil/Python_language/blob/main/7.%20python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello WOlrd")

Hello WOlrd

In [ ]:
8+5

13

In [ ]:
print("welcome to Excelr!")

welcome to Excelr!

In [ ]:
120/12*2-4

16.0

In [ ]:
(5-2)*10

30

In [ ]:
marks = 80
marks

80

In [ ]:
type(marks)

int

In [ ]:
5**2

25

In [ ]:
price = 50.5
price #only shows output of last line
type(price)

float

In [ ]:
price = 50.5
print(price) # to see intermediate line's output use print() function
type(price)

50.5

float

In [ ]:
name = "Avantika"
type(name)

str

In [ ]:
dir(str) # all methods that can be applied on string
# __dunder/magic methods(double underscore methods which python uses internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1 = "welcome to Data Science"
str1.capitalize()

'Welcome to data science'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [ ]:
str1.lower()

'welcome to data science'

In [ ]:
str1.title()

'Welcome To Data Science'

In [ ]:
food = "PavBHaji"
name = "AvnTika"
print(food.swapcase())
name.swapcase()

pAVbhAJI

'aVNtIKA'

In [ ]:
s1 = "My name is Avantika"
print(s1.split())
s2 = "Mumbai-Pune-Mumbai"
s2.split("-")

['My', 'name', 'is', 'Avantika']

['Mumbai', 'Pune', 'Mumbai']

In [ ]:
mail = "avantikapatil1911@gmail.com"
mail.split("@")

['avantikapatil1911', 'gmail.com']

In [ ]:
s1.replace("Avantika", "Shruti")

'My name is Shruti'

In [ ]:
# Single line comment
'''
multiline 
comment
'''

'\nmultiline \ncomment\n'

In [ ]:
city = "Satara"
city.count("a")

3

In [ ]:
"Satara".count("a")

3

In [ ]:
name = "Avantika"
name*4

'AvantikaAvantikaAvantikaAvantika'

In [ ]:
n1 = 5
n1*5

25

In [ ]:
name = "Avantika"
Surname = "Patil"
name + Surname

'AvantikaPatil'

In [ ]:
name + " " + Surname

'Avantika Patil'

In [ ]:
# Conditional Statement
a = 30
b = 20
if(a>b):
  print("a is greater")
else:
  print("b is greater")

a is greater

In [ ]:
a = 30
b = 20
if(a>b):
  print(a," is greater")
else:
  print("Greater number is: ", b)

30  is greater

In [ ]:
salary = 15000
if(salary > 20000):
  tax = .25
  print("Hello from true if")
else:
  tax = .20
  print("Hello from false if/else")
print("Bye..... outside of if block")
net_sal = salary - tax*salary
print(net_sal)

Hello from false if/else
Bye..... outside of if block
12000.0

In [ ]:
# for loop
for number in range(5, 10):
  print(number)

5
6
7
8
9

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(2, 11, 2):
  print(i)

2
4
6
8
10

In [ ]:
# 'break' statement terminates the loop when condition is satisfied
for i in range(1, 11):
  if i == 5:
    break
  else:
    print(i)

1
2
3
4

In [ ]:
for num in range(10): 
  print(num, num*num)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [ ]:
for i in range(1, 30, 5):
  print(i, "@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject = "Science"
for letter in subject:
  print(letter, end=" ")

S c i e n c e

In [ ]:
name = "Avantika "
for i in range(3, 7):
  print(name*i)

Avantika Avantika Avantika
Avantika Avantika Avantika Avantika
Avantika Avantika Avantika Avantika Avantika
Avantika Avantika Avantika Avantika Avantika Avantika

In [ ]:
movie = "3 Idiots"
for i in movie:
  print(i)

print("\n")

for i in movie.swapcase():
  print(i , end=" ")

3

I
d
i
o
t
s


3   i D I O T S

In [ ]:
languages = ['Swift', 'Python', 'Go', 'JavaScript']

# access items of a list using for loop
for language in languages:
    print(language, end=" ")

Swift Python Go JavaScript

In [ ]:
# print all even and odd numbers between given range using for loop


for i in range(1, 11):
  if i % 2 == 0 :
    print(i)
  else:
    print(i, " is odd")

1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even

In [ ]:
print("Even number:")
for i in range(1, 11):
  if i % 2 == 0:
    print(i)

print("\n")

print("Odd number:")
for i in range(1, 11):
  if i % 2 != 0:
    print(i)

Even number:
2
4
6
8
10


Odd number:
1
3
5
7
9

In [ ]:
status1 = True
type(status1)

status2 = False
type(status2)

bool

In [ ]:
data = "data"

for i in data:
  print(i*4, end=" ")

dddd aaaa tttt aaaa

In [ ]:
len("My  name")

8

In [ ]:
len("Avantika")

8

In [ ]:
#data structure : 1. list
#lists are mutable
# created using square brackets []
marks = [40, 55, 70, 60, 80, 85, 78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [ ]:
type(marks)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(marks)

7

In [ ]:
new_marks = sorted(marks) # created new sorted list. original list remains unchanged
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks

[40, 55, 70, 60, 80, 85, 78]

In [ ]:
marks.sort() # original list is sorted in ascending order by default
marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks.append(35)
marks

[40, 55, 60, 70, 78, 80, 85, 35]

In [ ]:
marks.remove(35)
marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks.reverse()
marks

[85, 80, 78, 70, 60, 55, 40]

In [ ]:
marks.index(70)

3

In [ ]:
marks.insert(1, 35) # to add number # insert(index, number)
marks

[85, 35, 80, 78, 70, 60, 55, 40]

In [ ]:
marks.pop(1) # to remove number # pop(index)

35

In [ ]:
marks

[85, 80, 78, 70, 60, 55, 40]

In [ ]:
marks.sort(reverse=True)
marks

[85, 80, 78, 70, 60, 55, 40]

In [ ]:
90 in marks # check whether 90 is in list or not. If yes returns True and no returns False

False

In [ ]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]
list1+list2 # to concatenate both lists

[10, 20, 30, 40, 50, 60]

In [ ]:
(list1+list2)*3

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [ ]:
# List of string
list3 = ["Mango", "Apple", "Banana", "Pineapple", "Custard Apple", "Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
for fruits in list3:
  print(fruits.upper(), end=" ")

MANGO APPLE BANANA PINEAPPLE CUSTARD APPLE STRAWBERRY

In [ ]:
for fruits in list3:
  print(fruits.replace("a", "u"), end=" ")

Mungo Apple Bununu Pineupple Custurd Apple Struwberry

In [ ]:
# In python Indexing starts with 0 and ends on -1
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[0]

'Mango'

In [ ]:
list3[-1]

'Strawberry'

In [ ]:
list3.count("Pineapple")

1

In [ ]:
# slicing [begin, end, incre/decre]
list3[0:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
# from Apple to strawberry
list3[1:]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
# start and stop step in slicing
print(list3)
list3[::2] # 0 2 4

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [ ]:
n1 = list(range(1, 31))
print(n1, end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
n1[3::4]

[4, 8, 12, 16, 20, 24, 28]

In [ ]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [ ]:
list3[::-2]

['Strawberry', 'Pineapple', 'Apple']

In [ ]:
#use of "in" keyword: search substring in given word
'the' in 'Netherland'

True

In [ ]:
list3.append("Mulberry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
for fruit in list3:
  if('berry' in fruit):
    print(fruit)

Strawberry
Mulberry

In [ ]:
for fruit in list3:
  if 'Apple' in fruit:
    print(fruit)

Apple
Custard Apple

In [ ]:
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custard Apple

In [ ]:
list3.append("Black berry")

In [ ]:
list4 = []
list5 = []
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else :
    list5.append(fruit)
print(list4, end=" ")
print(list5, end=" ")

['Strawberry', 'Mulberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
l1 = [2, 3, 4, 5, 6]
l2 = []

for sq in l1:
  l2.append(sq**2)

l2

[4, 9, 16, 25, 36]

In [ ]:
# List comprehension - makes youe code compact
l1 = [2, 3, 4, 5, 6]
l2 = [i**2 for i in l1]
print(l1, end=" ")
print(l2, end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [ ]:
# extract fruit names containing substring 'berry' using list comprehension

newlist = [fruit for fruit in list3 if 'berry' in fruit]
print(newlist)

['Strawberry', 'Mulberry', 'Black berry']

In [ ]:
newlist = [fruit for fruit in list3 if 'berry' not in fruit]
print(newlist)

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
list3.index('Mango')

0

In [ ]:
list3.index('Black berry')

7

In [ ]:
# index 2 item was banana which is replaced by Orange
# Lists are mutable -  you can replace items of list

list3[2] = "Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [ ]:
# Data Structure: 2. Tuple
# Tuples are not multable i.e. immutable
# Created using round brackets()
t1 = (1, 2, 3, 4, 5)
t1

(1, 2, 3, 4, 5)

In [ ]:
type(t1)

tuple

In [ ]:
t1[0]

1

In [ ]:
t1[0] = 7 # error

TypeError: ignored

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1.count(1) # count of any number

1

In [ ]:
t1.index(4)

3

In [ ]:
t2 = (1, 1, 1, 2, 2, 6, 6, 6, 6, 6)
t2

(1, 1, 1, 2, 2, 6, 6, 6, 6, 6)

In [ ]:
t2.count(6)

5

In [ ]:
# indexing and slicing with tuple is same as list
# extracting elements of tuple
t1[2]

3

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t2[1:5]

(1, 1, 2, 2)

In [ ]:
# Data Structure: 3.Dictionary
# Dictionaries are used to store data values in key:value pairs.
# A dictionary is a collection which is ordered, changeable and do not allow duplicates.
# Dictionaries are written with curly brackets, and have keys and values. 
# Here, keys are unique identifiers that are associated with each value.:

capital_dict={"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
name = {1:"Avantika", 2:"Shruti", 3:"Dhanashri", 4:"Sony"}
print(name)

{1: 'Avantika', 2: 'Shruti', 3: 'Dhanashri', 4: 'Sony'}

In [ ]:
type(name)

dict

In [ ]:
dir(name)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
capital_dict['England']

'London'

In [ ]:
keys = capital_dict.keys()

In [ ]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
values = capital_dict.values()

In [ ]:
capital_dict.values()

dict_values(['Kathmandu', 'Rome', 'London'])

In [ ]:
# The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [ ]:
# The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.
add_capital={"India": "New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [ ]:
capital_dict.update({"Australia" : "Sydney"})
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [ ]:
# The pop() method removes and returns an element from a dictionary having the given key.
capital_dict.pop("Australia")

'Sydney'

In [ ]:
capital_dict['abc'] = ("Mumbai")

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [ ]:
capital_dict.popitem()

('abc', 'Mumbai')

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [ ]:
# Keys can be of different data type
mylist=["Mango", "Orange", "Strawberry", "Banana", "Mulberry", "Black berry"]

In [ ]:
mytuple = (20, 53, 45, 78, 89, 65, 97)

In [ ]:
mydict = {"A" : mylist, 
           "B":mytuple, 
           "C":capital_dict
           }

mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi'}}

In [ ]:
mydict['A']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [ ]:
mydict['C']

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [ ]:
mydict['A'][3]

'Banana'

In [ ]:
mydict['C']['India']

'New Delhi'

In [ ]:
# Math functions: can import specific functions or all using *
sqrt(25) # raise error as you have not imported

NameError: ignored

In [ ]:
from math import sqrt
sqrt(25)

5.0

In [ ]:
from math import factorial
factorial(5)

120

In [ ]:
from math import *
sin(90)
tan(45)

1.6197751905438615

In [ ]:
from math import sin, cos, tan

In [ ]:
from math import *
l2=[5, 2]
prod(l2)

10

In [ ]:
# OR you can say 'import math'
# But while calling any function you have to use math.Function_Name()
# The math.prod() method returns the product of the elements from the given iterable.
import math # or 'import math as mt', mt.sqrt(64 )
sequence = (2, 2,5,6) # iterable where elements are given
print(math.prod(sequence))

120

In [ ]:
import math
l1 = [2, 3, 4]
math.prod(l1)

24

In [ ]:
dir(math) # all functions of math library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

# INTRODUCTION OF PYTHON